@font-face {
    font-family: 'Beurk';
    src: url('assets/Beurk-ajg5.ttf') format('truetype');
}

body {
    font-family: "Lucida Console", monospace;
    background-color: black;
    padding: 20px;
    color: #95C120;
}

/* Always have a scrollbar */
html {
    overflow-y: scroll;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
}

header {
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px 20px; /* gives some space on the sides */
    border-color: #95C120;
    color: #95C120;
    justify-content: center;
    align-items: center;
}

header h1 {
    padding-top: 8px;
    font-size:48px;
    margin: 0;
    text-align: center;
    flex: 1;
    font-family: 'Beurk', sans-serif;
}

nav {
    position: absolute;
    top: 50%;
    right: 20px;  /* Push it to the far right, while still keeping some space from the border */
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.image-section img {
    max-width: 100%; /* Adjust as needed */
    display: block;
    margin: 0 auto;
}

.story-section p {
    text-align: left;
    margin-top: 20px;
}

.options-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

nav a {
    margin-left: 20px;
}

nav a:first-child {
    margin-left: 0;
}

.title-section {
    flex-grow: 2; /* This will allow the title section to take up the remaining space */
    text-align: center; /* This will center the title text */
}

.custom-button {
    background-color: black;
    color: #95C120; /* neon green text */
    border: 2px solid #95C120; /* neon green border */
    padding: 10px 15px; /* add some space around the text */
    text-decoration: none; /* remove underlines from anchor tags */
    outline: none; /* remove browser default focus outline */
    transition: background-color 0.3s, color 0.3s; /* smooth transition for hover effects */
    cursor: pointer; /* cursor changes to hand icon on hover */
    margin: 5px; /* prevents buttons from mashing together in mobile mode */
}

.custom-button:hover {
    background-color: #95C120; /* neon green background on hover */
    color: black; /* black text on hover */
}

.about-section {
    position: fixed;        /* Position it fixed on the screen */
    top: 50%;               /* Center vertically */
    left: 50%;              /* Center horizontally */
    transform: translate(-50%, -50%); /* Ensures the centering is accurate */
    width: 80%;             /* Let's say it'll take up 80% of the screen width, adjust as needed */
    max-width: 600px;       /* Maximum width of the modal */
    background-color: rgba(0, 0, 0, 0.8);
    color: #95C120;
    padding: 20px;
    border: 2px solid #95C120;
    border-radius: 10px;
    z-index: 1000;          /* Ensure it's above everything else */
}

.overlay {
    position: fixed;  /* Cover the entire viewport */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Adjusted to transparent black */
    z-index: 999;  /* Place it below the modal but above everything else */
}

.about-section a {
    color: white;
    text-decoration: none;
}

.about-section a:hover {
    text-decoration: underline;
}

#undo-button {
    margin-left: 10px;
    color: white;
}

#undo-button:hover {
    text-decoration: none;
    color: #95C120;  /* Adjust color on hover if needed */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Stack elements vertically */
    }

    header h1 {
        font-size: 30px; /* Adjust as needed */
        margin-bottom: 5px; /* Space between the title and navigation */
    }

    nav {
        position: static; /* Reset the positioning */
        transform: none; /* Reset the vertical centering */
        text-align: center; /* Center the navigation links */
    }
}