body {
    font-family: Arial, sans-serif;
    background-color: black;    
    padding: 20px;
    color: #95C120;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

header {
    display: flex;        
    margin-bottom: 20px;
    border: 2px solid white;    
    border-radius: 10px;
    width: 100%; /* ensures full width */
    box-sizing: border-box; /* makes sure padding and border are included in width */
    padding: 0 20px; /* gives some space on the sides */
    border-color: #95C120;
    color: #95C120;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.image-section img {
    max-width: 100%; /* Adjust as needed */
    display: block;
    margin: 0 auto;
}

.story-section p {
    text-align: justify;
    margin-top: 20px;
}

.options-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

nav a {
    margin-left: 20px;
}

nav a:first-child {
    margin-left: 0;
}

.title-section {
    flex-grow: 2; /* This will allow the title section to take up the remaining space */
    text-align: center; /* This will center the title text */
}

.options-section button {
    background-color: black;
    color: #95C120; /* neon green text */
    border: 2px solid #95C120; /* neon green border */
    padding: 10px 15px; /* add some space around the text */
    text-decoration: none; /* remove underlines from anchor tags */
    outline: none; /* remove browser default focus outline */
    transition: background-color 0.3s, color 0.3s; /* smooth transition for hover effects */
    cursor: pointer; /* cursor changes to hand icon on hover */
}

.options-section button:hover {
    background-color: #95C120; /* neon green background on hover */
    color: black; /* black text on hover */
}
